[Desktop Entry]
Name=SPE Python IDE
Comment=SPE Python IDE
Icon=SPE
Exec=spe
Terminal=false
Type=Application
Categories=Development;IDE;
# vi: encoding=utf-8
